* {
  margin: 0px;
  padding: 0px;
}

/* Fonts  */
@font-face {
  font-family: lexend;
  src: url(../assets/font/lexendDeca/LexendDeca-VariableFont_wght.ttf);
}

@font-face {
  font-family: spaceMono;
  src: url(../assets/font/spaceMono/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: spaceMonoRegular;
  src: url(../assets/font/spaceMono/SpaceMono-Regular.ttf);
}

:root {
  /* colors  */
  --yellow: #fcb72b;
  --dark-navy: #495567;
  --dim-grey: #939caa;
  --light-grey: #e5ecf4;
  --snow: #f2f5f9;
  --light-yellow: #fff4df;
  --footer: #333a44;

  /* Fonts  */
  --fontHeading: spaceMono;
  --fontBody: lexend;
  --font: spaceMonoRegular;

  /* Custom Variables  */
  --main-width: 80%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  overflow-x: hidden;
}

/* The Nav  */
nav {
  height: 60px;
  margin: 5px 0px 5px 0px;
  width: var(--main-width);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.nav__main {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.nav__brand {
  width: auto;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  position: relative;
  top: -1px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.mobile--navbar {
  padding: 2rem 0px 0px 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  gap: 1.5rem;
  list-style: none;
}

.mobile--navbar li,
.navbar li {
  display: block;
  transition: all 0.2s ease-in-out;
}

.mobile--navbar li:hover,
.navbar li:hover {
  transform: scaleX(1.1);
}

.mobile--navbar li a,
.navbar li a {
  text-decoration: none;
  color: var(--dim-grey);
  font-family: var(--fontHeading);

  transition: all 0.2s ease-in-out;
}

.mobile--navbar li a:hover,
.navbar li a:hover {
  color: var(--yellow);
}

.menu {
  display: none;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  cursor: pointer;
}

.menu__container {
  display: none;
  position: absolute;
  top: -15px;
  left: -6%;
  width: 100vw;
  background: rgb(0 0 0 / 0.5);
  height: 100vh;
}
.menu__navbar {
  /* display: none; */
  flex-direction: column;
  z-index: 2;
  width: 250px;
  height: 100vh;
  background: var(--dark-navy);

  padding: 32px 0px 0px 2rem;
}

.menu__close {
  width: 100%;
}
.close__img {
  cursor: pointer;
}

.nav__contact__mobile,
.nav__contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The BUtton  */
.button {
  text-decoration: none;
  font-family: var(--fontBody);
  color: white;
  padding: 8px 25px;
  background: var(--yellow);
  font-size: 1rem;
  border: 2px solid var(--yellow);
}

.button:hover {
  background: transparent;
  border: 2px solid var(--yellow);
  color: var(--yellow);
  transition: all 0.3s ease-in-out;
}

/* The Header  */
header {
  width: 100%;
  height: 600px;

  background: url(../assets/images/header/main-desktop.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content {
  width: var(--main-width);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.header__title {
  font-family: var(--fontHeading);
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  width: 65%;
  color: var(--snow);
  padding: 0px 0px 25px 0px;
}

.header_description {
  font-family: var(--fontBody);
  font-size: 1rem;
  line-height: 1.5;
  width: 85%;
  color: var(--dim-grey);
  font-weight: 300;
  padding: 20px 0px 30px 0px;
  cursor: pointer;
}

/* The Header Banner  */
.header__banner {
  width: 100%;
  height: 250px;
  background: url(../assets/images/header/about-desktop.jpg);
  background-size: cover;
  background-position: center;

  position: relative;
  margin-bottom: 45px;
}

.header__banner__container {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__banner__detail {
  width: var(--main-width);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.header__banner__detail h1 {
  font-family: var(--fontHeading);
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--snow);
  cursor: pointer;
}

.header__banner__detail p {
  font-family: var(--fontBody);
  font-size: 1rem;
  line-height: 1.5;
  width: 85%;
  color: var(--dim-grey);
  font-weight: 300;
  padding: 10px 0px 0px 0px;
  cursor: pointer;
}

/* The Services  */

.services__container {
  margin: 75px 0px 50px 0px;
  width: var(--main-width);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px 25px 0px;
}

.service__header h1 {
  font-family: var(--fontHeading);
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.5px;
  text-align: left;
  color: var(--yellow);
  cursor: pointer;
}

.service__header p {
  padding: 20px 0px 0px 0px;
  width: 85%;
  text-align: left;
  font-family: var(--fontBody);
  font-size: 1rem;
  line-height: 25px;
  font-weight: 300;
  color: var(--dim-grey);
}

.services_wrapper {
  width: 100%;
  height: auto;
}

.services_line {
  width: 90%;
  height: 15px;
  position: relative;
  left: -15%;
  top: 55px;
  z-index: 2;
}

.services {
  width: 100%;
  height: 300px;
  z-index: 5;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 65px;
}

.service {
  width: 100%;
  height: 300px;
}

.service__title {
  font-family: var(--fontHeading);
  font-size: 1.5rem;
  line-height: 28px;
  letter-spacing: -2.5px;
  text-align: left;
  color: var(--dark-navy);
  cursor: pointer;
  padding: 10px 0px;
}

.service_description {
  font-family: var(--fontBody);
  font-size: 1rem;
  line-height: 25px;
  font-weight: 300;
  color: var(--dim-grey);
}

/* The Details  */
.details__container {
  width: var(--main-width);
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.detail {
  width: 100%;
  height: 300px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 30px;
}

.detail:nth-child(1) {
  height: auto;
}

.detail__content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.detail__title {
  font-family: var(--fontHeading);
  font-size: 2rem;
  line-height: 36px;
  letter-spacing: -2.5px;
  text-align: left;
  color: var(--dark-navy);
  cursor: pointer;
  padding: 10px 0px;
}

.detail__description {
  font-family: var(--fontBody);
  font-size: 1rem;
  line-height: 25px;
  font-weight: 300;
  color: var(--dim-grey);
  padding: 0px 0px 15px 0px;
}
.more__detail {
  position: relative;
  top: -20px;
  font-family: var(--fontBody);
  font-size: 1rem;
  line-height: 25px;
  font-weight: 300;
  color: var(--dim-grey);
  padding: 0px 0px;
  grid-column: span 2;
}

.detail__image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.detail__image:nth-child(1) {
  align-items: flex-end;
}

.detail__img {
  z-index: 2;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  cursor: pointer;
  border: 10px solid transparent;
  transition: all 0.2s ease-in-out;
}

.detail__img:hover {
  border: 10px solid var(--yellow);
}

.detail__circle {
  z-index: 1;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 10px solid transparent;
  position: absolute;
  right: 0px;
}

.left--circle {
  left: 0px;
}

/* The Contact  */

.contact__container {
  width: 100%;
  height: auto;
  /* background: var(--footer); */
  margin: 15px 0px 75px 0px;

  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.contact__grid {
  width: var(--main-width);
  height: 100%;
  /* background: #495567; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.contact__details {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.contact__details h1 {
  font-family: var(--fontHeading);
  font-size: 4rem;
  line-height: 36px;
  letter-spacing: -2.5px;
  text-align: left;
  color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px 45px 0px;
}

.contact__details p {
  font-family: var(--fontBody);
  font-size: 0.9rem;
  line-height: 25px;
  font-weight: 300;
  color: var(--dim-grey);
  padding: 0px 0px 15px 0px;
}

.contact__form {
  width: 100%;
  height: 100%;
  /* background: red; */

  display: flex;
  justify-self: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 20px 0px 0px 0px;
}

.contact__form input {
  width: 95%;
  margin: 0px 0px 1rem 0px;
  padding: 0px 0px 0px 1rem;
  height: 50px;
  outline: none;
  border: none;
  box-shadow: inset 0px -2px var(--yellow);
  background: var(--light-yellow);

  color: var(--footer);
  font-family: var(--font);
  font-weight: 500;
}

.contact__form input[type="text"] {
  text-transform: capitalize;
}

.contact__form textarea::placeholder,
.contact__form input::placeholder {
  color: var(--yellow);
}

.contact__form textarea {
  width: 95%;
  height: 100px;
  margin: 0px 0px 1rem 0px;
  padding: 1rem 0px 0px 1rem;

  outline: none;
  border: none;
  box-shadow: inset 0px -2px var(--yellow);
  background: var(--light-yellow);

  color: var(--footer);
  font-family: var(--font);
  font-weight: 500;
}

.contact__form button {
  width: 150px;
  height: 40px;
}

/* The Values  */
.values__container {
  width: var(--main-width);
  height: auto;
  margin: 25px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.values__header {
  font-family: var(--fontHeading);
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--dark-navy);
  cursor: pointer;
  padding: 20px 0px 50px 0px;
}

.values {
  width: 100%;
  height: auto;
  /* background: #fcb62b3d; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.value {
  width: 100%;
  height: auto;
  padding: 20px 0px 30px 0px;
}

.value__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.value__img {
  width: 150px;
  height: 150px;
  border: 5px solid transparent;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.value__img:hover {
  border: 5px solid var(--yellow);
}

.value__index {
  position: relative;
  top: -25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--yellow);
  border-radius: 100%;
  font-family: var(--fontHeading);
  color: var(--dark-navy);
  font-size: 1rem;
}

.value__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value__detail h1 {
  font-family: var(--fontHeading);
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--dark-navy);
  cursor: pointer;
}

.value__detail p {
  font-family: var(--fontBody);
  font-size: 0.9rem;
  line-height: 1.5;
  width: 100%;
  color: var(--dim-grey);
  font-weight: 300;
  padding: 10px 0px 0px 0px;
  cursor: pointer;
  text-align: center;
}

/* The Footer  */
footer {
  width: 100%;
  height: auto;
  background: var(--footer);

  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.copyrights {
  width: 100%;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  background: #2b313a;
}

.copyright__content {
  width: var(--main-width);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__content span {
  font-family: var(--fontBody);
  color: var(--dim-grey);
  font-weight: 300;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.copyright__content span:hover {
  color: var(--yellow);
}

.footer__container {
  width: var(--main-width);
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__main {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.nav__brand {
  width: auto;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  position: relative;
  top: -1px;
}

.navbar__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.mobile--navbar {
  padding: 2rem 0px 0px 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  gap: 1.5rem;
  list-style: none;
}

.mobile--navbar li,
.navbar__footer li {
  display: block;
  transition: all 0.2s ease-in-out;
}

.mobile--navbar li:hover,
.navbar__footer li:hover {
  transform: scaleX(1.1);
}

.mobile--navbar li a,
.navbar__footer li a {
  text-decoration: none;
  color: var(--dim-grey);
  font-family: var(--fontHeading);

  transition: all 0.2s ease-in-out;
}

.navbar__footer li a:hover {
  color: var(--yellow);
}

.footer__socials li a {
  transition: all 0.2s ease-in-out;
}

.footer__socials li:hover {
  transform: scale(1.5);
}

/* The FAQ  */

.faq {
  width: var(--main-width);
  height: auto;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq__header {
  text-align: center;
  font-family: var(--fontHeading);
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.5px;
  color: var(--yellow);
  cursor: pointer;
  padding: 10px 0px 25px 0px;
}

.faq__container {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 10px 0px;
  margin-bottom: 10px;
  transition: all .2s ease-in-out;


}

.faq__title {
  font-family: var(--fontHeading);
  font-size: 28px;
  line-height: 48px;
  letter-spacing: -2.5px;
  text-align: left;
  color: var(--yellow);
  cursor: pointer;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background: var(--light-yellow);

  font-family: var(--fontHeading);
  font-size: 1.1rem;
  line-height: 28px;
  letter-spacing: -2.5px;
  text-align: left;
  color: var(--dark-navy);
  cursor: pointer;
  padding: 15px 15px;
  transition: all .2s ease-in-out;

}

.faq__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.open__FAQ__answer {
  display: block;
  cursor: pointer;
}

.close__FAQ__answer {
  display: none;
  cursor: pointer;
}

.faq__answer {
  display: none;
  padding: 15px 15px;

  background: var(--light-yellow);
  font-family: var(--fontBody);
  font-size: 1rem;
  line-height: 25px;
  font-weight: 300;
  color: var(--dim-grey);
  transition: all .2s ease-in-out;
}

.faq__answer.active {
  display: block;
}

/* almost Tablet Form Factor  */

@media (max-width: 1000px) {
  header {
    height: 600px;
  }
  .values {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .value {
    height: auto;
    margin-bottom: 25px;
  }

  .value:nth-child(3) {
    grid-column: span 2;
  }

  .header__banner__detail h1 {
    width: 100%;
    text-align: center;
  }
  .header__banner__detail p {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }

  .detail__description {
    font-size: 0.9rem;
    line-height: 20px;
  }

  .detail__circle,
  .detail__img {
    width: 250px;
    height: 250px;
  }

  .detail--button {
    font-size: 0.8rem;
  }

  .service__header p {
    width: 90%;
  }
  .service__header h1 {
    text-align: center;
    width: 100%;
  }

  .service__header p {
    text-align: center;
    width: 100%;
  }

  .services {
    width: 100%;
    height: auto;
    z-index: 5;
    position: relative;
    margin: 0px 0px 30px 0px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .last--service {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .services_line {
    display: none;
  }
}

/* Tablet Form Factor  */
@media (max-width: 750px) {
  .more__detail {
    display: none;
  }

  .values__header {
    font-size: 36px;
  }
  .values {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .value {
    height: auto;
    margin-bottom: 25px;
  }

  .value:nth-child(3) {
    grid-column: span 1;
  }
  footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: auto;
    background: var(--footer);

    display: flex;
    justify-content: center;
  }

  .footer__container {
    width: var(--main-width);
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer__container .nav__main {
    flex-direction: column;
    padding: 20px 0px;
  }

  .footer__container .nav__brand {
    padding: 0px 0px 30px 0px;
  }

  .navbar__footer {
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 25px;
  }

  .footer__socials {
    flex-direction: row;
    padding-bottom: 5px;
    gap: 2rem;
  }
  .contact__grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .contact__details {
    justify-content: center;
    align-items: center;
  }
  .details__container {
    margin-bottom: 25px;
  }
  .contact__details h1 {
    text-align: center;
  }
  .contact__details p {
    padding: 0px;
    text-align: center;
  }

  .detail {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 30px;
  }

  .detail:nth-child(1) {
    margin-bottom: 0px;
  }

  .detail__content {
    order: 2;
  }

  .detail__image {
    order: 1;
  }

  .detail__title {
    text-align: center;
    width: 100%;
  }

  .more__detail,
  .detail__description {
    text-align: center;
    width: 100%;
  }

  .more__detail {
    font-size: 0.9rem;
    padding: 0px 0px 10px 0px;
  }

  .detail__content {
    align-items: center;
  }

  .header__content {
    justify-content: center;
    align-items: center;
  }

  .header__title {
    text-align: center;
    width: 95%;
  }

  .header_description {
    text-align: center;
    width: 100%;
  }
  .services_line {
    display: none;
  }

  .services {
    width: 100%;
    height: auto;
    z-index: 5;
    position: relative;
    margin: 0px 0px 30px 0px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .last--service {
    grid-column: 1;
  }

  nav {
    width: 90%;
    margin: 0px 0px 0px 0px;
  }
  .service__header p {
    width: 100%;
  }
  .navbar {
    display: none;
  }
  .nav__main {
    width: 100%;
  }
  .menu {
    display: flex;
  }
  .nav__contact {
    display: none;
  }

  .nav__contact__mobile {
    padding: 2rem 0px 0px 0px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .nav__contact__mobile .button {
    width: 60%;
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .copyright__content span {
    font-size: 0.9rem;
  }
  .faq__container {
    width: 100%;
    height: auto;
  
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 10px 0px;
    margin-bottom: 10px;
  
  }

  .faq__title {
    text-align: center;
  }

  .faq__answer {
    font-size: .9rem;
  }


}

/* Mobile Form Factor  */

@media (max-width: 500px) {
  .header__banner__detail p {
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
  }
  .menu__navbar {
    width: 180px;
  }
  .header__title {
    text-align: center;
    width: 95%;
    font-size: 46px;
  }
  .service__header h1 {
    font-size: 36px;
    width: 100%;
  }

  .copyright__content span {
    font-size: 0.8rem;
  }
}
