* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  font-family: monospace;
}

.faq__container {
  width: 60%;
  height: auto;
  /* background: lightblue; */

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 10px 0px;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background: red;
}

.faq__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.open__FAQ__answer {
  display: block;
  cursor: pointer;
  transform: scale(1.5);
}

.close__FAQ__answer {
  display: none;
  cursor: pointer;
  transform: scale(1.5);
}

.faq__answer {
  display: none;
  padding: 15px 15px;


}


