:root {
  /* Primary Colors */
  --primary-accent: #1d4ed8;
  --primary-dark: #153e9c;
  --primary-light: #3b82f6;

  /* Secondary Colors */
  --secondary-accent: #f59e0b;
  --secondary-dark: #b45309;
  --secondary-light: #fbbf24;

  /* Neutral Colors */
  --background: #ffffff;
  --surface: #f3fbfb;
  --text-primary: #111827;
  --text-secondary: #6b7280;

  /* Additional Colors */
  --success: #10b981;
  --warning: #f59e0b;
  --error: #ef4444;
  --info: #3b82f6;

  /* Custom Data  */
  --width: 90%;
}

@media (min-width: 950px) {
  /* Mobile Nav  Wrapper*/
  .mobile__nav__wrapper {
    display: none;
  }
}

@media (max-width: 1050px) {
  /* Columns  */
  .col_1_2 {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .col_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .col_3 {
    grid-template-columns: 1fr 1fr;
  }

  /* Price Card Last Child  */
  .price__card:last-child {
    grid-column: 2 span;
    margin-top: 0.5rem;
  }

  /* Feature Grid */
  .feature_col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .feature__card:last-child {
    grid-column: 2 span;
  }

  /* Contact Grid  */
  .contact__grid_ {
    grid-template-columns: 1fr 1fr;
  }
  /* Contact Card Content Icon */
  .card__content .icon {
    padding: 0 0 1rem 0;
  }

  /* Contact Section  */
  .contact__section {
    grid-template-columns: minmax(300px, 1fr);
    gap: 0;
  }
  /* Contact Map  */
  .contact__map iframe {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 950px) {
  /* Hide Desktop */
  .desktop {
    display: none;
  }

  /* Menu  */
  .menu,
  .close {
    display: flex;
  }

  /* Header  */
  Header {
    height: 600px;
  }

  /* Header Title  */
  Header .title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  /* Columns  */
  .col_1_2 {
    gap: 2rem;
  }
  .col_2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Footer Item P  */
  .footer__item p {
    width: 90%;
  }
}

@media (max-width: 750px) {
  /* Header Title  */
  Header .title {
    font-size: 3rem;
  }
  /* Feature Grid */
  .feature_col {
    display: grid;
    grid-template-columns: 1fr;
  }

  .feature__card:last-child {
    grid-column: 1 span;
  }

  /* Header Button  */
  header .btn {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }

  /* Footer Item P  */
  .footer__item p {
    width: 95%;
  }

  /* Footer Container  */
  .footer__container {
    grid-template-columns: 1fr;
  }

  /* Sign Up Header  */
  .sign__up__header {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 650px) {
  /* Header Title  */
  Header .title {
    min-width: 300px;
    width: var(--width);
    font-size: 2.8rem;
    line-height: 3rem;
  }

  /* Header Text  */
  Header .text {
    padding: 0.6rem 0;
  }

  /* Columns  */

  .col_3 {
    grid-template-columns: 1fr;
  }
  /* Price Card Last Child  */
  .price__card:last-child {
    grid-column: 1 span;
    margin-top: 0px;
  }

  /* Support Content Title*/
  .support__content .title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: 90%;
    min-width: 350px;
  }

  /* Sign Up Wrapper  */
  .sign__up__wrapper {
    width: 70%;
    padding: 3rem 2rem;
    min-width: 100px;
  }

  /* Sign Up Header Item*/
  .sign__up__item {
    font-size: 14px;
  }

  /* Form Content Title  */
  .form__content .title {
    font-size: 2rem;
  }
}

@media (max-width: 550px) {
  /* Columns Item  Title*/
  .col__item .title {
    font-size: 2.2rem;
    line-height: 2.3rem;
    color: var(--text-primary);
  }

  /* Support Content Title*/
  .support__content .title {
    font-size: 2.3rem;
    line-height: 2.3rem;
    width: 90%;
    min-width: 350px;
  }

  /* Support Content Text*/
  .support__content .text {
    font-size: 14px;
    width: 95%;
  }

  /* Footer Bottom  */
  .footer__bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }

  /* Contact Grid  */
  .contact__grid_ {
    grid-template-columns: 1fr;
  }
  /* Contact Card Content Icon */
  .card__content .icon {
    padding: 0 0 1rem 0;
  }

  /* Contact Card Content  */
  .card__content {
    padding: 2.5rem 0;
  }

  /* Contact grid */
  .contact__grid {
    flex-direction: column;
  }

  /* Contact Map  */
  .contact__map iframe {
    height: 350px;
  }

  /* Sign Up Header  */
  .sign__up__header {
    grid-template-columns: 1fr 1fr;
  }

  /* Sign Up Wrapper  */
  .sign__up__wrapper {
    height: 850px;
  }

  /* Main Form  */
  .main__form {
    width: 100%;
    height: 85%;
  }
}

@media (max-width: 495px) {
  /* Mobile Nav  */
  .mobile__nav {
    width: 75%;
    min-width: 250px;
  }

  /* Header  */
  Header {
    height: 500px;
  }

  /* Header Text  */
  Header .text {
    font-size: 14px;
  }

  /* Header Title  */
  Header .title {
    min-width: 300px;
    width: var(--width);
    font-size: 2.6rem;
    line-height: 2.8rem;
  }

  /* Columns Item  Text*/
  .col__item .text {
    font-size: 14px;
    line-height: 18px;
  }

  /* Columns Item  Header*/
  .col__item .header {
    font-size: 1.3rem;
    letter-spacing: -1px;
    color: var(--primary-accent);
  }

  /* Section Header  Title */
  .section__header .title {
    font-size: 2.3rem;
    line-height: 2.4rem;
    letter-spacing: -2px;
  }

  /* Section Header Text  */
  .section__header .text {
    color: var(--text-primary);
    opacity: 0.8;
    line-height: 20px;
    padding: 0.3rem 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-align: center;
    width: 90%;
    min-width: 0px;
  }

  /* Support Content Title*/
  .support__content .title {
    font-size: 2rem;
    line-height: 2rem;
    width: 90%;
    min-width: 350px;
  }
}

@media (max-width: 475px) {
  /* Header Title  */
  Header .title {
    min-width: 300px;
    width: var(--width);
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  /* Footer Item  */
  .footer__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Footer Item P*/
  .footer__item p {
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
  }

  /* Footer Item Title*/
  .footer__item .title {
    text-align: center;
  }

  /* Footer Item Input*/
  .footer__item input {
    width: 95%;
  }

  /* Footer Item Form*/
  .footer__item form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__item:last-child {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .footer__item ul {
    flex-direction: row;
    gap: 0.8rem;
    font-size: 16px;
    justify-content: center;
  }

  /* Footer Bottom */
  .footer__bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (max-width: 425px) {
  /* Header Title  */
  Header .title {
    min-width: 300px;
    width: var(--width);
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  /* Feature Content Text P  */
  .feature__content .text p {
    font-size: 12px;
    line-height: 15px;
    width: 100%;
  }

  /* Feature Content Title*/
  .feature__content .title {
    font-size: 1.1rem;
  }
}

@media (max-width: 395px) {
  /* Section Header Text  */
  .section__header .text {
    color: var(--text-primary);
    opacity: 0.8;
    line-height: 20px;
    padding: 0.3rem 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-align: center;
    font-size: 14px;
    width: 80%;
    min-width: 290px;
  }

  /* Support Content Text*/
  .support__content .text {
    font-size: 14px;
    width: 90%;
  }

  /* Support Content Title*/
  .support__content .title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    width: 95%;
    min-width: 350px;
  }
}
