* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: font;
  src: url(font/WorkSans-VariableFont_wght.ttf);
}

:root {
  --accent: #f9bf3a;
  --primary: #f3f3f3;
  --secondary: #222222;
  --secondary-: #1e1e1e;

  --background: #ffffff;
  --mainWidth: 80%;
}

body {
  position: relative;
  font-family: font;
}

a {
  text-decoration: none;
}

/* Top Navbar  Wrapper*/
.top__navbar__wrapper {
  width: 100%;
  height: auto;
  background: var(--secondary);
  padding: 0.6rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Top Navbar */
.top__navbar {
  width: var(--mainWidth);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Top Item */
.top__item {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.top__item li {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: var(--background);
  letter-spacing: -1px;

  display: flex;
  justify-content: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.4rem;
  padding: 0 0.8rem 0 0;
  transition: all 0.1s ease-in-out;
}
.top__item li span {
  padding: 0 0 0.2rem 0;
}

.top__item li:hover {
  color: var(--accent);
}

.top__item li:first-child,
.top__item li:nth-child(2) {
  border-right: 1px solid var(--primary);
}

.top__item li svg {
  width: 0.8rem;
  fill: var(--accent);
}

/* Top Information  */
.top__information {
  font-size: 14px;
  color: var(--primary);
  letter-spacing: -1.5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.top__information:hover {
  color: var(--accent);
}

/* Navbar Wrapper  */
.navbar__wrapper {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: auto;
  background: var(--background);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar Item  */
.navbar__item {
  width: var(--mainWidth);
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar Brand  */
.navbar__brand {
  width: auto;
  height: 75px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__brand span {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--secondary-);
  letter-spacing: 1px;
  padding: 0.5rem 0.8rem;
  border: 3px solid var(--secondary-);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.navbar__brand span:hover {
  border: 3px solid var(--accent);
  color: var(--accent);
}

/* Navbar  */
.navbar {
  width: auto;
  height: 75px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.navbar li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li a {
  color: var(--secondary-);
  font-weight: 600;
  cursor: pointer;
  padding: 2rem 0.5rem;
  font-size: 14px;
  transition: all 0.1s ease-in-out;
}

.navbar li a:hover {
  background: var(--primary);
}
.navbar.mob li a:hover {
  background: var(--background);
}

/* Menu  */
.navbar li.menu {
  padding: 0 1rem;
  display: none;
}

.navbar li.menu svg {
  fill: var(--secondary-);
  width: 1.7rem;
  cursor: pointer;

  padding: 1.4rem 1rem;
  transition: all 0.1s ease-in-out;
}

.navbar li.menu svg:hover {
  background: var(--primary);
}

/* Mobile Navbar Wrapper  */
.mobile__navbar__wrapper {
  position: absolute;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: var(--primary);

  display: none;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 0 0;
}

.mobile__navbar {
  width: 90%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--accent);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.close:hover {
  background: var(--secondary-);
}

.close svg {
  width: 1rem;
  fill: var(--secondary-);
  cursor: pointer;
  transition: all .1s ease-in-out;

}

.close:hover > svg {
  fill: var(--accent);
}
/* Header  */
header {
  width: 100%;
  height: 600px;
  position: relative;
}

/* Header Controls Wrapper  */
.header__controls__wrapper {
  position: absolute;
  top: 50%;
  z-index: 1500;
  width: 100%;
  height: 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__controls__wrapper .control {
  width: 3rem;
  height: 100%;
  margin: 0 1.5rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: 0.1rem;
  transition: all 0.1s ease-in-out;
}

.header__controls__wrapper .control:hover {
  background: var(--accent);
  border: 1px solid var(--accent);
}

.header__controls__wrapper .control svg {
  width: 0.7rem;
  fill: var(--primary);
}

/* Header Wrapper  */
.header__wrapper {
  width: 100%;
  height: 100%;
  background: var(--primary);
}

/* Header Container  */
.header__container {
  width: 100%;
  height: 100%;
  position: relative;

  display: none;
}

.header__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Header Content  Wrapper */
.header__content__wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content__wrapper.active {
  opacity: 0;
  filter: blur(5px);
  animation: headerShow 2s ease-in-out forwards;
}

@keyframes headerShow {
  to {
    opacity: 1;
    filter: blur(0);
  }
}

/* Header Content  */
.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 70%;
  max-width: 600px;
}

.header__content .title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary);
  letter-spacing: -3px;
  line-height: 2.8rem;
  padding: 5rem 0 0.5rem 0;
  text-align: center;
}

.header__content p {
  text-align: center;
  color: var(--primary);
  opacity: 0.8;
  font-weight: 200;
  text-shadow: 1px 1px 2px var(--secondary);
}

.header__content .btn {
  background: var(--accent);
  font-size: 14px;
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--secondary-);
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header__content .btn:hover {
  color: var(--accent);
  background: var(--secondary-);
}

@media (max-width: 950px) {
  .top__information {
    display: none;
  }
  .top__navbar {
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .navbar li.menu {
    display: block;
    padding: 0 0;
  }
  .navbar li.menu.mob {
    display: none;
  }
  .navbar li:nth-child(1),
  .navbar li:nth-child(2),
  .navbar li:nth-child(3),
  .navbar li:nth-child(4),
  .navbar li:nth-child(5),
  .navbar li:nth-child(6) {
    display: none;
  }

  /* .mobile__navbar__wrapper {
    display: none;
  } */

  .navbar.mob li {
    display: flex;
  }

  .header__content .title {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }
}

@media (max-width: 750px) {
  .header__controls__wrapper {
    top: 90%;
    justify-content: flex-end;
  }
  .header__controls__wrapper .control {
    margin: 0;
  }
  .header__controls__wrapper .control:last-child {
    margin: 0 1rem 0 1rem;
  }
}

@media (max-width: 650px) {
  .top__item li {
    font-size: 12px;
  }
  .top__item li span {
    padding: 0 0 0.1rem 0;
  }
  .top__item li svg {
    width: 0.7rem;
  }

  .header__content {
    min-width: 100px;
    width: 100%;
  }

  .header__content .title {
    width: 80%;
  }

  .header__content p {
    width: 80%;
  }
}

@media (max-width: 475px) {
  .navbar.mob {
    flex-direction: column;
  }
  .top__item {
    flex-wrap: wrap;
    justify-content: center;
  }
  .top__item li:first-child,
  .top__item li:nth-child(2) {
    border-right: 1px solid transparent;
  }

  header {
    height: 550px;
  }
}

@media (max-width: 375px) {
  .header__content .title {
    font-size: 2.2rem;
    line-height: 1.8rem;
  }
  .navbar__brand {
    height: auto;
    padding: 1rem 0 0 0;
  }

  .navbar {
    height: auto;
  }
  .navbar li.menu {
    padding: 0.5rem 0;
  }
  .navbar li.menu svg {
    padding: 0.5rem 1rem;
  }
  .navbar__item {
    flex-direction: column;
  }
}
